# Dependencies
node_modules
.pnp
.pnp.js

# Testing
coverage

# Next.js
.next/
out/
build/

# Misc
.DS_Store
*.pem
*.log
*.zip
*.msi
*.exe

# Environment Variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor
.vscode/
.idea/
*.swp
*.swo

# Large Files
Finesse-v2.0.zip
Suwayomi-Server-v2.1.1867-windows-x64.msi